* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: black;
}

.images img{
    width: 400px;
    height: 500px;
    object-fit: cover;
    display: none;
    border-radius: 20px;
}
